# The Battle of Neighborhoods

In [2]:
import pandas as pd
import lxml

## Introduction

At the time of acquiring a property, various characteristics are sought, price, access to the area, services and nearby places and capital gains. 

The mortgage sector is interested in obtaining the average prices by area, depending on the characteristics of the property, but the real estate investment sector is interested in knowing how the places or businesses near the property affect its price and how they will affect it in the future. 

Should I buy a property in an area where there are plans to create a soccer stadium? 

Should I buy a property in an area where there are plans to build a park? 

**Those are questions that real estate investors frequently ask themselves to see if a property will increase in value over time.**

## Data

To carry out the project, we need three databases, two that we already have made from last week's exercise and a new one that we will incorporate.

The bases are:

1. Postal codes and Neighbourhoods of Toronto City

In [3]:
df_neighbor = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', flavor='lxml')[0]
df_neighbor.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

2. Toronto venues

Toronto_venues.csv is a database created with Foursquare data. This database contains the surrounding venues for each postal code in the city of Toronto.

In [4]:
df_venues = pd.read_csv('toronto_venues.csv')
df_venues.head()

,Unnamed: 0,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,0,"Malvern, Rouge",43.806686,-79.194353,Images Salon & Spa,43.802283,-79.198565,Spa
1,1,"Malvern, Rouge",43.806686,-79.194353,Harvey's,43.800020,-79.198307,Restaurant
2,2,"Malvern, Rouge",43.806686,-79.194353,Wendy's,43.802008,-79.198080,Fast Food Restaurant
3,3,"Malvern, Rouge",43.806686,-79.194353,Wendy’s,43.807448,-79.199056,Fast Food Restaurant
4,4,"Malvern, Rouge",43.806686,-79.194353,RBC Royal Bank,43.798782,-79.197090,Bank

3. Average houses price by postal code

Database containing average prices by postal code in Canada. This database was obtained from the site: https://housepricehub.com/areas

In [5]:
df_prices = pd.read_html('https://housepricehub.com/areas')[0]
df_prices.head()

,Postal Code,City,Average Price,Average Price Per Frontage Ft,Total listings,Average Price Trend
0,K0E,Spencerville,"$1,149,289","$5,435",46,NaN
1,K6V,Brockville,"$313,700","$6,580",8,NaN
2,K0G,Merrickville,"$690,405","$4,702",86,NaN
3,K0C,Green Valley,"$597,166","$4,215",85,NaN
4,L0H,Whitchurch-Stouffville,"$2,157,574",NaN,12,NaN

The neighborhood and postal code database will help us put together the venues database and the median price database. The objective will be to create a DataFrame that allows us to have the number of places per category in a postal code and their average price in order to see the relationship that exists between these variables and to know what is more convenient for investors.